
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

@import '~bootstrap/scss/functions';
@import "~bootstrap/scss/variables";

$border-radius: .10rem;
$line-height-base: 1.6;

$theme-colors: (
  light: rgba($gray-100, 1),
);

$spacers: map-merge((
  10: ($spacer * 14),
  6: ($spacer * 8)
), $spacers);

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.header-img {
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
  url("/img/header.jpeg") no-repeat center;
  background-size: cover;
}

.guarantee-img {
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
  url("/img/guarantee.jpeg") no-repeat center;
  background-size: auto;
}

.freedom-img {
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
  url("/img/freedom.jpeg") no-repeat fixed;
  background-size: auto;
}

.btn-rounded {
  border-radius: 30px;
}

.text-shadow {
  text-shadow: 1px 1px 10px rgba(22, 23, 31, 0.5);
}
